#HeaderNav {
    background: saddlebrown;
    padding: 2em;
    ul {
        list-style-type: none;
        margin: 0;
    }
    li {
        color: #ffffff;
        a {
            color: #ffffff;
        }
    }
}